.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  padding: 20px;
  border-radius: 30px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.error-text {
  color: red;
  font-size: 16px;
}

.input-error {
  border: 1px solid red;
}